{% extends 'peliculas/base.html' %}

{% block title %}Registro de Usuario{% endblock %}

{% block content %}
  <h2>Registro de Usuario</h2>
  
  <form method="POST">
    {% csrf_token %}
    
    {{ form.as_p }}  <!-- Este es el formulario que Django genera, incluyendo todos los campos -->

    <button type="submit">Registrar</button>
  </form>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

